* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

.container {
  width: 1440px;
  height: 2100px;
  margin: 0px auto;
}
.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 1408px;
}
.img-header {
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 400px;
  height: 19px;
}
li{
    line-height: 1.5

}

.resign {
  width: 187px;
  height: 47px;
  border: 1px solid #535353;
  background-color: transparent;
}
.products {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.product-1,
.product-2,
.product-3 {
  width: 32%;
}

h3,
h4 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}
footer {
  width: 1408px;
  height: 100px;
  background-color: #021a34;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 10px;
}
p {
  font-size: 14px;
  padding: 5px;
  margin-bottom: 20px;
}
.input {
  width: 280px;
  height: 52px;
  background-color: #021a34;
  border: 2px solid #ffa800;
  padding: 10px;
}
.fotter_button {
  background-color: #ffa800;
  border-radius: 5px;
  width: 120px;
  height: 52px;
  border: none;
}
