* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 20px;
  font-weight: 700;
}

header {
  margin-bottom: 20px;
  background-color: aqua;
  padding: 15px 0;
}
.header {
  color: red;
  border-radius: 100px;
  background-color: greenyellow;
  font-size: 30px;
  font-weight: 800;
  padding: 5px 15px;
}
nav ul li {
  display: inline;
  margin-left: 20px;
}
.items-list-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 0 auto;
  background-color: yellowgreen;
  border: 1px solid black;
  padding: 0 50px;
  max-width: 1200px;
}

.items-1,
.items-2,
.items-3 {
  background-color: yellowgreen;
  border: 1px solid black;
  padding: 20px;
  width: 70%;
  margin-bottom: 50px;
}
h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
}
h3 {
  font-size: 26px;
  font-weight: 800;
  color: red;
  text-align: center;
}
p {
  font-size: 26px;
  font-weight: 800;
  color: #000;
  text-align: center;
}
.footer {
  font-size: 26px;
  font-weight: 800;
}
input {
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  height: 30px;
}
button {
  background-color: violet;
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 30px;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}
main section {
  text-align: center;
}
